<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="style/styles.css">
</head>
<body>
  <div id="app">
    <p v-if="show"> You can see me!</p>
    <p v-else> Now you can't see me!</p>
    <p> Do you also see me?</p>
    <button @click="show = !show"> Press</button>

    <ul>
      <li v-for="(ingredient, index) in ingredients"> {{ingredient}} ({{ index }}) </li>
    </ul>
    <hr>
    <ul>
      <li v-for="person in persons"> 
        <div v-for="(value, key, index) in person"> {{index}}   {{ key }} : {{value}} -  </div>
      </li>
    </ul>
  </div>

  <script type="text/javascript" src="../bower_components/vue/dist/vue.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
</body>
</html>